.navigationcontent{
  width:100%;
  height:100%;
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 5px;
  }
}
.navigationcard1{
    float:left;
    width:75%;
    height: 100%;
}
.navigationcard2{
    float:right;
    width:25%;
    height: 100%;

}
.navigate1{
    margin-left: 100px;
    height: 100%;
}
.navigate2{

    margin-right: 100px;
    height: 100%;
}
img.imagestyle{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
p.textstyle{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.divstyle{
    float:left;
    background-color: rgb(152, 155, 155);
    height:20px;
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
}
button.buttonstyle{
    margin-top: 15px;
    width: 80%;
    height:40px;
    border-color: rgb(78, 78, 243);
    border-style:dotted;
}
button.buttonstyle:hover{
    height:40px;
    border-color: blue;
}
p.textstyle2{
    color: blue;
}
.basepagecontent{
background-color: blueviolet;

}
button.buttonleftside{
    border-color:transparent;
}
button.buttonleftside:hover{
    background-color: rgb(220,220,220);
}
.leftsidediv1{
    float:left;

}
.leftsidediv2{
    float:right;
}

.basepageimg{
    width:97px;
    height:97px;
    float:left;
    margin-top:87px;
    margin-left: 18px;
}

.baseapagecompany{
    width:100%;
    height:100%;

}
.basepagecompanybutton{
    clear:left;
    float:right;
    width:200px;
}
button.buttondüzenle{
    margin-top: 0px;
    width: 100%;
    height:40px;
    border-color: rgb(78, 78, 243);
    color:rgb(78, 78, 243);
    border-style:double;
    border-radius: 40%;
}
button.buttondüzenle:hover{
    background-color: rgb(78, 78, 243);
    color: white;
}
.basepagecompanyname{
 color: black;
  margin-top: 19px;
  font-size: 20px;
  line-height: 1.33;
  font-weight: 400;
  float:left;
  height: 25%;

}
.basepageslogan{
    clear:left;
    height: 25%;
    float: left;
}
.basecompanysector{
    clear: left;
    height: 25%;
    float: left;
    font-weight:lighter;
}
.layout2{
    width:100%;
    margin-top:0px;
    height:500px;
    margin-bottom:18px;
    align-items: center;
}
.baseLeftSideContainer{
  width:25%;
  float:left;
  /* background-color: blueviolet; */
}
.baseMain{
    width:44%;
    float:left;
    /* background-color: brown; */
}
.baseLeftSideArtcard{
  text-align: center;
  overflow: hidden;
  margin-left:100px;
  float:left;
  background-color: #fff;
  border-radius: 5px;
  transition: box-shadow 83ms;
  position: relative;
  border: none;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);

}
.baseLeftSideAnalizler{
    width:100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 12px;
    padding-bottom: 12px;
}
.heade:hover{
    background-color: rgba(0, 0, 0, 0.08);
}
.header{
    width:100%;
    padding: 5px 25px;
    font-size: 16px;
    height:60px;
}
.headertext{
    font-weight:lighter;
    font-size: small;
    color:grey;
}
.headerbodytext{
    font-weight: bold;
    color:blue;
    font-size: medium;
}

.maincontainer{
    width:100%;
    height:100%;
   
   
    /* background-color: blue; */
}
.rightsideheaderimg1{
    background-color:white; 
    left:8px;
    position:absolute;
    z-index:1;
}
.rightsideheaderimg2{
    background-color:white; 
    left:35px;
    position:absolute;
    z-index:2;
}
.rightsideheaderimg3{
    background-color:white; 
    position:absolute;
    left:62px;
    z-index:3;
}
 img.imgrightside{
    width:30px;
    height: 30px;
    border-radius:50%;
 }

 .headertext2{
    font-size: medium;
    margin-bottom: 5px;
}

.baseLeftSideArtcard2{
    width:87%;
    margin-right: 100px;
    text-align: center;
    overflow: hidden;
    margin-left:30px;
    float:left;
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow 83ms;
    position: relative;
    border: none;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
  
  }
  .headertextarea{
    margin-top:15px;
    font-size: 13px;
  }
  button.headerbutton{
    margin-top: 15px;
    border-radius: 25px;
    width:80%;
    border-color: rgb(74, 74, 218);
    color:rgb(74, 74, 218);
  }
  button.headerbutton:hover{
    border-color: rgb(152, 152, 241);
    
  }